{% load i18n %}<div class="statistics">
  <p class="section-title">{% trans "Statistics" %}</p>
  <table>
    <tr>
      <th>{% trans "lines added" %}</th>
      <td>{{ commit.stats.total.insertions }}</td>
    </tr>
    <tr>
      <th>{% trans "lines removed" %}</th>
      <td>{{ commit.stats.total.deletions }}</td>
    </tr>
    <tr>
      <th>{% trans "lines modified" %}</th>
      <td>{{ commit.stats.total.lines }}</td>
    </tr>
    <tr>
      <th>{% trans "files touched" %}</th>
      <td>{{ commit.stats.total.files }}</td>
    </tr>
  </table>
</div>
