{% extends "base.html" %}
{% load i18n djpro_tags %}
{% block title %}{% trans "Projects" %}{% endblock %}

{% block media %}
  {{ block.super }}
  <link href="{% url media "djit/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% url media "djpro/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<div class="project djit">

  <table class="layout">
    <tr class="top">
      <td class="layout navigation">
        <p class="navigation">
          <a href="{% url djpro:pypi-index %}">{% trans "Python Projects" %}</a>
          <a href="{% url djit:list %}">{% trans "Git Repositories" %}</a>
        </p>
      </td>
    </tr>
    <tr class="bottom">
      <td class="layout list">
        {% djpro_list %}
      </td>
    </tr>
  </table>

</div><!-- ends "project" -->
{% endblock %}
