{% extends "base.html" %}
{% load i18n repositories djpro_media djpro_tags %}
{% block title %}{% trans "Projects" %}{% endblock %}

{% block media %}
  {{ block.super }}
  <link href="{% url media "djpro/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% djpro_repository_media %}
{% djpro_bubble_media %}
{% endblock %}

{% block content %}
<div class="project">
  <p class="navigation">
    <a href="{% url djpro:pypi-index %}">{% trans "Python Projects" %}</a>
    <a href="{% url djpro:view-repo %}">{% trans "Git Repositories" %}</a>
  </p>
  <p class="title">{% blocktrans %}Projects (last updated first){% endblocktrans %}</p>
</div>

{% project_list_bubble %}
{% endblock %}
