{% extends "base.html" %}
{% load i18n markup repositories djpro_filters %}
{% block title %}{{ object.slug }} {% firstof version last_tag.name %}{% endblock %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}djpro/css/style.css" rel="stylesheet" type="text/css" media="screen" />
  {% if version %}{% ifnotequal version last_tag.name %}
  <link rel="homepage" href="{% url djpro:pypi-package-version object.slug %}"/>
  {% endifnotequal %}{% endif %}
{% endblock %}

{% block content %}
<div class="project">
  <p class="navigation">
  <a href="{% url djpro:pypi-index %}">Package Index</a>
  <a href="{% url djpro:pypi-simple-package object.slug %}">Simple List</a>
  <a href="{% url djpro:git-repo repo.path|name %}">Project Repository</a>
  </p>

{% if version %}{% ifnotequal version last_tag.name %}
<p class="latest">The latest version of this project is: <a href="{% url djpro:pypi-package-version object.slug last_tag.name %}">{{ object.slug }} {{ last_tag.name }}</a></p>
{% endifnotequal %}{% endif %}

<p class="title">{{ object.slug }} {% firstof version last_tag.name %}</p>
<p class="brief">{{ object.repo.description }}</p>

{% if object.description %}
<div class="description">
{{ object.description }}
</div>
{% endif %}

<!-- TODO:
  * Add a way to put here links to eventual documentation in ReST format
  * make md5 sums work...
  -->
  {% with last_tag.commit.committed_date|tuple_to_date as cdate %}
  <p class="download">{% trans "Download" %}: <a href="{% url djpro:download-release %}?r={{ repo.path|name }}&tag={% firstof version last_tag.name %}#egg={{ object.slug }}-{% firstof version last_tag.name %}">{{ object.slug }}-{% firstof version last_tag.name %}.tar.gz</a> ({{ size }} {% trans "bytes" %}), {% trans "tagged" %} {{ cdate|date:"r" }} ({{ cdate|timesince }} {% trans "ago" %})</p>
  {% endwith %}

  <p class="subtitle">{% trans "Previous downloads" %}</p>
  <table class="previous_downloads">
    <tr><th>{% trans "package" %}</th><th>{% trans "date" %}</th></tr>
    {% for t in previous_tags %}
    <tr class="{% cycle "even" "odd" %}">
      <td class="package"><a href="{% url djpro:download-release %}?r={{ repo.path|name }}&tag={{ t.name }}#egg={{ object.slug }}-{{ t.name }}">{{ object.slug }}-{{ t.name }}.tar.gz</a></td>
      <td class="date">{{ t.commit.committed_date|tuple_to_date|date:"r" }} ({{ t.commit.committed_date|tuple_to_date|timesince }} {% trans "ago" %})</td>
    </tr>
    {% endfor %}
  </table><!-- ends class="previous_downloads" -->
</div><!-- ends class="project" -->
{% endblock %}
