<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Simple Index</title>
    {% for p in object_list %}<link rel="homepage" href="{% url djpro:pypi-simple-package p.slug %}"/>
    {% endfor %}
    {% for p in pypi_objects %}<link rel="homepage" href="http://pypi.python.org/simple/{{ p }}"/>
    {% endfor %}
  </head>
  <body>
    {% for p in object_list %}<a href="{% url djpro:pypi-simple-package p.slug %}">{{ p.slug }}</a><br/>
    {% endfor %}
 </body>
</html>
