{% extends "base.html" %}
{% load i18n markup repositories %}
{% with object.get_repo.tags|last as last_tag %}

{% block title %}{{ object.slug }} {% if version %}{{ version }}{% else %}{{ last_tag.name }}{% endif %}{% endblock %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}djpro/css/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<div class="project">
  
<p class="navigation"><a href="{% url djpro:pypi-index %}"><span class="item">Package Index</span></a></p>

{% if version and version != last_tag.name %}
<p class="latest"><a href="{% url djpro:pypi-package object.slug %}">{{ object.slug }} {{ last_tag.name }}</a></p>
{% endif %}

<p class="title">{{ object.slug }} {% if version %}{{ version }}{% else %}{{ last_tag.name }}{% endif %}</p>
<p class="brief">{{ object.repo.description }}</p>

{{ object.description|textile }}

<!-- TODO:
  * Add a way to put here links to eventual documentation in ReST format
  -->

  <p class="download">{% trans "Download" %}: <a href="{% url djpro:download-release %}?r={{ object.get_repo.path|name }}&tag={% if version %}{{ version }}{% else %}{{ last_tag.name }}{% endif %}#md5={{ md5 }}">{{ object.slug }}-{% if version %}{{ version }}{% else %}{{ last_tag.name }}{% endif %}.tar.gz</a> ({{ size }} {% trans "bytes" %}), {% trans "tagged" %} {{ last_tag.commit.committed_date|tuple_to_date|date:"c" }}</p>
</div>
{% endblock %}

{% endwith %}
