{% extends "base.html" %}
{% load i18n repositories repository_bubble djpro_media %}

{% block media %}
{{ block.super }}
{% djpro_repository_media %}
{% djpro_bubble_media %}
{% djpro_syntax_highlight_media %}
{% endblock %}

{% block title %}{% trans "Repository" %} {{ repo.path|name }} :: {% trans "Differences" %} {{ commit|first_eight }}{% endblock %}

{% block content %}
<div class="repository">
  <table class="layout">
    <tr class="top">
      <td class="layout" colspan="2">{% navigation repo commit %}</td>
    </tr><!-- class="top" -->
    <tr class="middle">
      <td class="layout left">
        {% commit_summary_bubble repo commit %}
      </td>
      <td class="layout right">
        {% statistics_bubble commit %}
      </td>
    </tr>
    <tr class="bottom">
      <td class="layout bottom" colspan="2">
        {% diff_bubble diffs %}
      </td>
    </tr>
  </table><!-- class="layout" -->
</div><!-- class="repository" -->
{% endblock %}
