{% extends "base.html" %}
{% load i18n %}

{% load repositories %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}djpro/css/repo.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{% trans "Repository" %} {{ repo.path|name }}{% endblock %}

{% block content %}

  <div class="repository">
    <div class="summary">
      <p class="section-title">{% trans "Summary" %}</p>
      <table>
        <tr><th>{% trans "project" %}</th><td class="project-name">{{ repo.path|name }}</td></tr>
        <tr><th>{% trans "description" %}</th><td class="summary">{{ repo.description }}</td></tr>
        <tr><th>{% trans "last change" %}</th><td>{{ repo.commits.0.committed_date|tuple_to_date|date:"r" }}</td></tr>
        <!--<tr><th>{% trans "url" %}</th><td></td></tr>-->
      </table>
    </div>

    {% if repo.heads %}
    <div class="heads">
      <p class="section-title">{% trans "Heads" %}</p>
      <ul>
          {% for head in repo.heads %}
          <li><a href="?r={{ repo.path|name }}&h={{ head.name }}" title="{% trans 'switch to this head' %}">{{ head.name }}</a></li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if repo.tags %}
    <div class="tags contrast">
      <p class="section-title">{% trans "Lastest tags" %}</p>
      <table>
        <tr>
          <th>{% trans "tag" %}</th>
          <th colspan="2">{% trans "actions" %}</th>
          <th>{% trans "epoch" %}</th>
        </tr>
        {% for tag in repo.tags|reverse|slice:":max_tags" %}
        <tr class="{% cycle 'even' 'odd' %}">
          <td class="tags"><span class="tag">{{ tag.name }}</span></td>
          <td class="tree"><a href="{% url djpro:view-tree tag.commit %}?r={{ repo.path|name }}">{% trans "tree" %}</a></td>
          <td class="download"><a href="{% url djpro:download-tree tag.commit %}?r={{ repo.path|name }}">{% trans "download" %}</a></td>
          <td class="date">{{ tag.commit.committed_date|relative_date }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}

    <div class="shortlog contrast">
      <p class="section-title">{% trans "Shortlog" %} ({{ repo.commit_count }} {% trans "commits" %})</p>
      {% paginator repo head commits %}
      <table>
        <tr><th colspan="4">{% trans "actions" %}</th>
            <th>{% trans "epoch" %}</th>
            <th>{% trans "author" %}</th>
            <th colspan="3">{% trans "statistics" %}</th>
            {% if repo.tags %}<th>{% trans "tags" %}</th>{% endif %}
            <th>{% trans "summary" %}</th>
        </tr>
        {% for commit in commits.object_list %}
        <!-- {% cycle 'even' 'odd' as oddity %} -->
        <tr class="commit {{ oddity }}">
          <td class="action"><a href="{% url djpro:view-commit commit %}?r={{ repo.path|name }}">{% trans "commit" %}</a></td>
          <td class="action"><a href="{% url djpro:view-diff commit %}?r={{ repo.path|name }}">{% trans "diff" %}</a></td>
          <td class="action"><a href="{% url djpro:view-tree commit %}?r={{ repo.path|name }}">{% trans "tree" %}</a></td>
          <td class="action"><a href="{% url djpro:download-tree commit %}?r={{ repo.path|name }}">{% trans "download" %}</a></td>
          <td class="date">{{ commit.committed_date|relative_date }}</td>
          <td class="author">{{ commit.committer.name }}</td>
          <td class="lines-added">+{{ commit.stats.total.insertions }}</td>
          <td class="lines-removed">-{{ commit.stats.total.deletions }}</td>
          <td class="number-of-files">@{{ commit.stats.total.files }}</td>
          {% if repo.tags %}<td class="tags">{% for t in commit|taglist:repo.tags %}<span class="tag">{{ t.name }}</span>{% endfor %}</td>{% endif %}
          <td class="summary">{{ commit.summary }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
{% endblock %}
