{% extends "base.html" %}
{% load i18n repositories embed %}

{% block media %}
{{ block.super }}
{% repo_media %}
{% endblock %}

{% block title %}{% trans "Repository" %} {{ repo.path|name }} :: {{ p }}{% endblock %}

{% block content %}
<div class="repository">
  <table class="layout">
    <tr class="top">
      <td class="layout" colspan="2">{% navigation repo commit %}</td>
    </tr><!-- class="top" -->
    <tr class="middle">
      <td class="layout left">
        {% commit_summary_bubble repo commit %}
      </td>
      <td class="layout right">
        {% statistics_bubble commit %}
      </td>
    </tr>
    <tr class="bottom">
      <td class="layout bottom" colspan="2">
        {% view_bubble repo commit blob %}
      </td>
    </tr>
  </table><!-- class="layout" -->
</div><!-- class="repository" -->
{% endblock %}
