{% extends "base.html" %}
{% load i18n %}

{% load repositories %}

{% block media %}
{{ block.super }}
<link href="{{ MEDIA_URL }}djpro/css/repo.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{% trans "Repository" %} {{ repo.path|name }} :: {% trans "Commit" %} {{ commit|first_eight }}{% endblock %}

{% block content %}
<div class="repository">
  {% navigation repo commit %}

  {% summary repo commit %}

  {% statistics commit %}

  {% if commit.diffs %}
  <div class="changes contrast">
    <p class="section-title">{% trans "Changes" %}</p>
    <table>
      <tr><th colspan="4">{% trans "actions" %}</th>
        <th>{% trans "mode" %}</th>
        <th>{% trans "path" %}</th>
        <th>{% trans "information" %}</th>
      </tr>
    {% for d in commit.diffs %}
    <!-- {% cycle 'even' 'odd' as oddity %} -->
    {% if d.deleted_file %}<tr class="deleted {{ oddity }}">
    {% else %}{% if d.new_file %}<tr class="new {{ oddity }}">
    {% else %}{% if d.renamed %}<tr class="renamed {{ oddity }}">
    {% else %}<tr class="{{ oddity }}">
    {% endif %}{% endif %}{% endif %}
    <td class="action"><a href="{% url djpro:view-diff commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'view differences done at this file for this commit' %}">{% trans "diff" %}</a></td>
    <td class="action">{% if not d.deleted_file %}<a href="{% url djpro:view-blob commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'view this file after this commit' %}">{% trans "view" %}</a>{% else %}{% trans "view" %}{% endif %}</td>
    <td class="action">{% if not d.deleted_file %}<a href="{% url djpro:view-raw commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'download this file' %}">{% trans "download" %}</a>{% else %}{% trans "download" %}{% endif %}</td>
    <td class="action"><a href="{% url djpro:view-history commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'access the commit history for this file only' %}">{% trans "history" %}</a></td>
    <td class="mode">{% if d.a_mode %}{{ d.a_mode|mode }}{% else %}{% if d.b_mode %}{{ d.b_mode|mode }}{% else %}-----------{% endif %}{% endif %}</td>
    <td class="path">{{ d.b_path }}</td>
    <td class="information">
      {% if d.renamed %}{% trans "was" %} {{ d.a_path }}{% if d.a_mode %} ({{ d.a_mode|mode }}){% endif %}
      {% else %}{% if d.new_file %}{% trans "created" %}
      {% else %}{% if d.deleted_file %}{% trans "deleted" %}
      {% endif %}{% endif %}{% endif %}
    </td>
    </tr>
    {% endfor %}
    </table>
  </div>
  {% else %}
  <div class="changes">
    <p>{% trans "No diff information." %}</p>
  </div>
  {% endif %}

</div>
{% endblock %}
