{% extends "base.html" %}
{% load i18n %}

{% load repositories %}

{% block media %}
{{ block.super }}
<link href="{{ MEDIA_URL }}djpro/css/repo.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{% trans "Repository" %} {{ repo.path|name }} :: {% trans "Commit" %} {{ commit|first_eight }}{% endblock %}

{% block content %}
<div class="repository">
  <div class="navigation">
    <p class="section-title">{% trans "Repository navigation" %}</p>
    <p><a href="{% url djpro:view-repo %}?r={{ repo.path|name }}">{% trans "summary" %}</a> | <a href="{% url djpro:view-diff commit %}?r={{ repo.path|name }}">{% trans "diff" %}</a>{% if commit.parents %} | <a href="{% url djpro:view-commit commit.parents.0 %}?r={{ repo.path|name }}">{% trans "previous" %}</a>{% endif %}</a></p>
  </div>

  <div class="summary">
    <p class="section-title">{% trans "Summary" %}</p>
    <p>{{ commit.summary }}</p>
    <table>
      <tr><th>{% trans "author" %}</th><td>{{ commit.author.name }} &lt;{{ commit.author.email }}&gt; {% trans "at" %} {{ commit.authored_date|tuple_to_date|date:"r" }}</td></tr>
      <tr><th>{% trans "committer" %}</th><td>{{ commit.committer.name }} &lt;{{ commit.committer.email }}&gt; {% trans "at" %} {{ commit.committed_date|tuple_to_date|date:"r" }}</td></tr>
      <tr><th>{% trans "commit" %}</th><td>{{ commit.id }}</td></tr>
      <tr><th>{% trans "tree" %}</th><td>{{ commit.tree.id }}</td></tr>
      <tr><th>{% trans "parent" %}</th><td>{{ commit.parents.0.id }}</td></tr>
    </table>
  </div>

  <div class="description">
    <p class="section-title">{% trans "Log" %}</p>
    <p>{{ commit.message }}</p>
  </div>

  <div class="statistics">
    <p class="section-title">{% trans "Statistics" %}</p>
    <table>
      <tr>
        <th>{% trans "lines added" %}</th>
        <td>{{ commit.stats.total.insertions }}</td>
      </tr>
      <tr>
        <th>{% trans "lines removed" %}</th>
        <td>{{ commit.stats.total.deletions }}</td>
      </tr>
      <tr>
        <th>{% trans "lines modified" %}</th>
        <td>{{ commit.stats.total.lines }}</td>
      </tr>
      <tr>
        <th>{% trans "files touched" %}</th>
        <td>{{ commit.stats.total.files }}</td>
      </tr>
    </table>
  </div>

  {% if commit.diffs %}
  <div class="changes">
    <p class="section-title">{% trans "Changes" %}</p>
    <table>
      <tr><th colspan="4">{% trans "actions" %}</th>
        <th>{% trans "mode" %}</th>
        <th>{% trans "path" %}</th>
        <th>{% trans "information" %}</th>
      </tr>
    {% for d in commit.diffs %}
    <!-- {% cycle 'even' 'odd' as oddity %} -->
    {% if d.deleted_file %}<tr class="deleted {{ oddity }}">
    {% else %}{% if d.new_file %}<tr class="new {{ oddity }}">
    {% else %}{% if d.renamed %}<tr class="renamed {{ oddity }}">
    {% else %}<tr class="{{ oddity }}">
    {% endif %}{% endif %}{% endif %}
    <td class="action"><a href="{% url djpro:view-diff commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'view differences done at this file for this commit' %}">{% trans "diff" %}</a></td>
    <td class="action">{% if not d.deleted_file %}<a href="{% url djpro:view-blob commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'view this file after this commit' %}">{% trans "view" %}</a>{% else %}{% trans "view" %}{% endif %}</td>
    <td class="action">{% if not d.deleted_file %}<a href="{% url djpro:view-raw commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'download this file' %}">{% trans "download" %}</a>{% else %}{% trans "download" %}{% endif %}</td>
    <td class="action"><a href="{% url djpro:view-history commit %}?r={{ repo.path|name }}&b={{ d.b_path }}" title="{% trans 'access the commit history for this file only' %}">{% trans "history" %}</a></td>
    <td class="mode">{% if d.a_mode %}{{ d.a_mode|mode }}{% else %}{% if d.b_mode %}{{ d.b_mode|mode }}{% else %}-----------{% endif %}{% endif %}</td>
    <td class="path">{{ d.b_path }}</td>
    <td class="information">
      {% if d.renamed %}{% trans "was" %} {{ d.a_path }}{% if d.a_mode %} ({{ d.a_mode|mode }}){% endif %}
      {% else %}{% if d.new_file %}{% trans "created" %}
      {% else %}{% if d.deleted_file %}{% trans "deleted" %}
      {% endif %}{% endif %}{% endif %}
    </td>
    </tr>
    {% endfor %}
    </table>
  </div>
  {% else %}
  <div class="changes">
    <p>{% trans "No diff information." %}</p>
  </div>
  {% endif %}

</div>
{% endblock %}
