{% load i18n repositories %}
{% comment %}requires "repo" and "commit"{% endcomment %}
<p class="navigation">
  <a href="{% url djpro:view-repo %}?r={{ repo.path|name }}"><span class="navigation">{% trans "summary" %}</span></a>
  <a href="{% url djpro:view-commit commit %}?r={{ repo.path|name }}"><span class="navigation">{% trans "commit" %}</span></a>
{% if commit.parents %}
  <a href="{% url djpro:view-commit commit.parents.0 %}?r={{ repo.path|name }}"><span class="navigation">{% trans "parent" %}</span></a>
</p>
{% endif %}
