{% load i18n %}
{% load repositories %}

<div class="repository">
  {% navigation repo commit %}

  {% summary repo commit %}

  {% with tree|last as tl %}
  <div class="browser">
    <p class="section-title">{% trans "Browser" %}</p>
    <p class="path"><a href="{% url djpro:view-tree commit %}?r={{ repo.path|name }}">[root]</a>{% for p in tree|slice:"1:-1" %} / <a href="{% url djpro:view-tree commit %}?r={{ repo.path|name }}{% if p.0 %}&t={{ tree|slice:"1:-1"|getpath:forloop.counter|join:'/' }}{% endif %}">{{ p.0 }}</a>{% endfor %} / {{ tl.0 }}</p>
  </div>

  <div class="tree contrast">
  <p class="section-title">{% trans "Tree view" %}</p>
    <table>
      <tr><th colspan="4">{% trans "actions" %}</th>
        <th>{% trans "mode" %}</th>
        <th>{% trans "size" %}</th>
        <th>{% trans "path" %}</th>
      </tr>
    {% for name,obj in tl.1.items %}
    <!-- {% cycle 'even' 'odd' as oddity %} -->
    
    {% if obj|is_tree %}
    <tr class="tree {{ oddity }}"> 
      
    <td class="action"><a href="{% url djpro:view-diff commit %}?r={{ repo.path|name }}&b={% merge_path path name %}" title="{% trans 'view differences done at this directory for this commit' %}">{% trans "diff" %}</a></td>
    <td class="action"><a href="{% url djpro:view-tree commit %}?r={{ repo.path|name }}&t={% merge_path path name %}" title="{% trans 'view this directory after this commit' %}">{% trans "tree" %}</a></td>
    <td class="action"><a href="{% url djpro:download-tree commit %}?r={{ repo.path|name }}&t={% merge_path path name %}" title="{% trans 'download this tree' %}">{% trans "download" %}</a></td>
    <td class="action"></td>
    <td class="mode">{{ obj.mode|mode }}</td>
    <td class="size">{{ obj|length }}</td>
    <td class="path">{{ name }}</td>

    </tr>
    {% else %}

    <tr class="blob {{ oddity }}"> 

    <td class="action"><a href="{% url djpro:view-diff commit %}?r={{ repo.path|name }}&b={% merge_path path name %}" title="{% trans 'view differences done at this file for this commit' %}">{% trans "diff" %}</a></td>
    <td class="action"><a href="{% url djpro:view-blob commit %}?r={{ repo.path|name }}&b={% merge_path path name %}" title="{% trans 'view this file after this commit' %}">{% trans "view" %}</a></td>
    <td class="action"><a href="{% url djpro:view-raw commit %}?r={{ repo.path|name }}&b={% merge_path path name %}" title="{% trans 'download this file' %}">{% trans "download" %}</a></td>
    <td class="action"><a href="{% url djpro:view-history commit %}?r={{ repo.path|name }}&b={% merge_path path name %}" title="{% trans 'access the commit history for this file only' %}">{% trans "history" %}</a></td>
    <td class="mode">{{ obj.mode|mode }}</td>
    <td class="size">{{ obj.size }}</td>
    <td class="path">{{ name }}</td>

    </tr>

    {% endif %}

    {% endfor %}
    <table>
  </div>
  {% endwith %}

</div>
