{% load i18n %}
{% load repositories %}
{% load stylize %}

<div class="repository">
  
  {% navigation repo commit %}

  {% summary repo commit %}

  {% with blob|last as bl %}
  <div class="browser">
    <p class="section-title">{% trans "Browser" %}</p>
    <p class="path"><a href="{% url djpro:view-tree commit %}?r={{ repo.path|name }}">[root]</a>{% for p in blob|slice:"1:-1" %} / <a href="{% url djpro:view-tree commit %}?r={{ repo.path|name }}{% if p.0 %}&t={{ blob|slice:"1:-1"|getpath:forloop.counter|join:'/' }}{% endif %}">{{ p.0 }}</a>{% endfor %} / {{ bl.0 }}<p>
  </div>

  <div class="blob">
    {% auto_highlight bl.1 %}
  </div>
  {% endwith %}

</div>
