{% load i18n repositories %}
{% comment %}requires "repo", "head" and "commits" (paginator){% endcomment %}
<div class="repository">

  <span class="bubble">
    <span class="shortlog">
      <table class="shortlog-top">
        <tr class="title">
          <td>{% trans "Shortlog" %} ({{ repo.commit_count }} {% trans "commits" %})
          </td>
        </tr>
        <tr class="paginator">
          <td>
            {% paginator repo head commits %}
          </td>
        </tr>
        <tr>
          <td>
            <table class="inner">
              <tr><th colspan="4">{% trans "actions" %}</th>
                  <th>{% trans "epoch" %}</th>
                  <th>{% trans "author" %}</th>
                  <th colspan="3">{% trans "statistics" %}</th>
                  {% if repo.tags %}<th>{% trans "tags" %}</th>{% endif %}
                  <th>{% trans "summary" %}</th>
              </tr>
              {% for commit in commits.object_list %}
              <!-- {% cycle 'even' 'odd' as oddity %} -->
              <tr class="commit {{ oddity }}">
                <td class="action"><a href="{% url djpro:view-commit commit %}?r={{ repo.path|name }}">{% trans "commit" %}</a></td>
                <td class="action"><a href="{% url djpro:view-diff commit %}?r={{ repo.path|name }}">{% trans "diff" %}</a></td>
                <td class="action"><a href="{% url djpro:view-tree commit %}?r={{ repo.path|name }}">{% trans "tree" %}</a></td>
                <td class="action"><a href="{% url djpro:download-tree commit %}?r={{ repo.path|name }}">{% trans "download" %}</a></td>
                <td class="date">{{ commit.committed_date|relative_date }}</td>
                <td class="author">{{ commit.committer.name }}</td>
                <td class="lines-added">+{{ commit.stats.total.insertions }}</td>
                <td class="lines-removed">-{{ commit.stats.total.deletions }}</td>
                <td class="number-of-files">@{{ commit.stats.total.files }}</td>
                {% if repo.tags %}<td class="tags">{% for t in commit|taglist:repo.tags %}<span class="tag">{{ t.name }}</span>{% endfor %}</td>{% endif %}
                <td class="summary">{{ commit.summary }}</td>
              </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </table>
    </span>
  </span>
</div>
