{% load i18n markup %}
{% comment %}requires "commit"{% endcomment %}
<span class="bubble">
  <span class="statistics">
    <table>
      <tr class="bubble_title"><td>{% trans "Changes" %}</td></tr>
      <tr class="log">
        <td>{{ commit.message|textile }}</td>
      </tr>
      <tr class="bubble_subtitle"><td>{% trans "Statistics" %}</td></tr>
      <tr>
        <td>
          <table>
            <tr><th>{% trans "lines added" %}</th><td class="added">{{ commit.stats.total.insertions }}</td></tr>
            <tr><th>{% trans "lines removed" %}</th><td class="deleted">{{ commit.stats.total.deletions }}</td></tr>
            <tr><th>{% trans "lines modified" %}</th><td class="totals">{{ commit.stats.total.lines }}</td></tr>
            <tr><th>{% trans "files touched" %}</th><td class="files">{{ commit.stats.total.files }}</td></tr>
          </table>
        </td>
      </tr>
    </table>
  </span>
</span>
