{% load i18n repositories %}
{% comment %}requires "repo"{% endcomment %}
{% if repo.tags %}
<span class="bubble">
  <span class="tags">
    <table>
      <tr class="bubble_title"><td>{% trans "Lastest tags" %}</td></tr>
      <tr>
        <td>
          <table>
            <tr>
              <th>{% trans "tag" %}</th>
              <th colspan="2">{% trans "actions" %}</th>
              <th>{% trans "epoch" %}</th>
            </tr>
            {% for tag in tags %}
            <tr class="{% cycle 'even' 'odd' %}">
              <td class="tags"><a href="{% url djpro:download-release %}?r={{ repo.path|name }}&tag={{ tag.name }}" title="{% trans "download release" %} {{ tag.name }}"><span class="tag">{{ tag.name }}</span></a></td>
              <td class="tree"><a href="{% url djpro:view-tree tag.commit %}?r={{ repo.path|name }}">{% trans "tree" %}</a></td>
              <td class="download"><a href="{% url djpro:download-release %}?r={{ repo.path|name }}&tag={{ tag.name }}">{% trans "download" %}</a></td>
              <td class="date">{{ tag.commit.committed_date|relative_date }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
  </span>
</span>
{% endif %}
