/* Style for Git repositories and views */

.repository table {
}

.repository tr {
}

.repository th {
}

.repository tr.even {
  background-color: #cef;
}

.repository tr td {
  padding: 0.3em;
}

.repository tr.odd {
  background-color: #eee;
}

.repository p.section-title {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #eee;
}

.repository .lines-added {
  color: green;
}

.repository .lines-removed {
  color: red;
}

.repository .number-of-files {
  color: #bb0;
}

.repository td.summary, .repository p.summary {
  font-style: italic;
}

.repository .project-name {
  color: green;
  font-weight: bold;
}

/* table representation of long data */
.repository .contrast th {
  border: 1px black solid;
}

/* browser entries that are unix path-like */
.repository .browser .path {
  background-color: #cef;
  font-size: 1.1em;
  padding: 0.5em;
}

/* highlighted code */
.repository .linenos { /* line numbers */
  color: #aaa;
  width: 2em;
}

.repository table.highlighttable {
  border: 1px solid #ccc;
  width: 100%;
}

.repository p.diff-command {
  font-family: monospace;
  color: white;
  background-color: black;
  padding: 0.7em;
}

/* paginator style */
.repository .pagination ul {
  text-indent: -1em;
}

.repository .pagination ul li {
  display: inline;
  list-style: none;
  font-family: arial, helvetica, sans;
  font-weight: bold; 
  font-size: 0.9em;
  background-color: #ccc;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #444;
  padding: 0.3em;
}

.repository .pagination li.header {
  border: none;
  background: none;
}

.repository .pagination li.header:hover {
  color: black;
  background: none;
}

.repository .pagination li.dots {
  border: none;
  background: none;
}

.repository .pagination li.dots:hover {
  border: none;
  background: none;
}

.repository .pagination .current {
  background-color: #bdf;
}

.repository .pagination a {
  text-decoration: none;
  color: #444;
  padding: 0.3em;
}

.repository .pagination ul li:hover {
  background-color: #f88;
}

/* handling of bubble tables */
.repository table.twocolumn {
  /* use this to center the table */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 1em;
  border-spacing: 0px;
}

.repository table.twocolumn tr {
  vertical-align: top;
}

.repository table.twocolumn td.column {
  padding: 0px;
  vertical-align: top;
}

.repository table.twocolumn td.column:first-child {
  padding-right: 5em;
}

.repository .bubble table {
  border-spacing: 0px;
}

.repository .bubble .summary table tr {
  background-color: #eef;
}

.repository .bubble .tags table tr {
  background-color: #efe;
}

.repository .bubble .shortlog table.shortlog-top {
  margin: 1em;
}

.repository .bubble .shortlog table tr {
  background-color: #eee;
}

.repository .bubble .summary tr.title {
  background-color: #008;
}

.repository .bubble .tags tr.title {
  background-color: #050;
}

.repository .bubble .shortlog tr.title {
  background-color: #555;
}

.repository .bubble table tr:first-child td:first-child {
  -moz-border-radius-topleft: 0.8em;
  -webkit-border-top-left-radius: 0.8em;
  border-top-left-radius: 0.8em;
}

.repository .bubble table tr:first-child td:last-child {
  -moz-border-radius-topright: 0.8em;
  -webkit-border-top-right-radius: 0.8em;
  border-top-right-radius: 0.8em;
}

.repository .bubble table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0.8em;
  -webkit-border-bottom-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

.repository .bubble table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0.8em;
  -webkit-border-bottom-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}

.repository .bubble tr.title {
  color: white;
  background-color: black;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 1.1em;
  font-align: left;
}

.repository .bubble tr.subtitle td {
  color: black;
  background-color: #ccc;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 1.1em;
  font-align: left;
}

.repository .bubble table.inner {
  border: none;
  width: 100%;
  max-width: 100%;
}

.repository .bubble table.inner {
  border-spacing: 2px;
  padding: 0.2em;
}

.repository .bubble table.inner tr.even {
  background-color: #cef;
}

.repository .bubble table.inner tr.odd {
  background-color: #ccc;
}

.repository .bubble .tags table.inner tr:first-child {
  background-color: green;
  color: white;
  opacity: 0.2;
  filter:alpha(opacity=20);
}

.repository .bubble .shortlog table.inner tr:first-child {
  background-color: #555;
  color: white;
}

.repository .bubble .tags table.inner tr td, .repository .bubble .shortlog table.inner tr td {
  -moz-border-radius-bottomright: 0em;
  -webkit-border-bottom-right-radius: 0em;
  border-bottom-right-radius: 0em;
  -moz-border-radius-bottomleft: 0em;
  -webkit-border-bottom-left-radius: 0em;
  border-bottom-left-radius: 0em;
}

.repository .bubble table.inner tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.repository .bubble table.inner tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.repository .bubble .shortlog table.inner tr td {
  font-size: 0.9em;
}

.repository .bubble .shortlog table.inner tr.commit td.summary {
  width: 40%;
}

/* niceties for tags */
.repository td.tags .tag {
  background-color: green;
  border-color: green;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border-style: groove;
  border-width: 2px;
}

/* niceties for heads */
.repository .heads ul {
  text-indent: -2em;
}

.repository .heads ul li {
  display: inline;
  list-style: none;
  background-color: #66f;
  border-color: #66f;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border-style: groove;
  border-width: 2px;
}

.repository .heads a {
  text-decoration: none;
  color: #fff;
  padding: 0.3em;
}

