/* Style for Git repositories and views */

.repository table {
}

.repository tr {
}

.repository th {
}

.repository tr.even {
  background-color: #cef;
}

.repository tr td {
  padding: 0.3em;
}

.repository tr.odd {
  background-color: #eee;
}

.repository p.section-title {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #eee;
}

.repository .lines-added {
  color: green;
}

.repository .lines-removed {
  color: red;
}

.repository .number-of-files {
  color: #bb0;
}

.repository td.summary, .repository p.summary {
  font-style: italic;
}

.repository .project-name {
  color: green;
  font-weight: bold;
}

/* table representation of long data */
.repository .contrast th {
  border: 1px black solid;
}

/* browser entries that are unix path-like */
.repository .browser .path {
  background-color: #cef;
  font-size: 1.1em;
  padding: 0.5em;
}

/* highlighted code */
.repository .linenos { /* line numbers */
  color: #aaa;
  width: 2em;
}

.repository table.highlighttable {
  border: 1px solid #ccc;
  width: 100%;
}

.repository p.diff-command {
  font-family: monospace;
  color: white;
  background-color: black;
  padding: 0.7em;
}

/* paginator style */
.repository .pagination ul {
  text-indent: -1em;
}

.repository .pagination ul li {
  display: inline;
  list-style: none;
  font-family: arial, helvetica, sans;
  font-weight: bold; 
  font-size: 0.9em;
  background-color: #ccc;
  -moz-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #444;
  padding: 0.3em;
}

.repository .pagination li.header {
  border: none;
  background: none;
}

.repository .pagination li.header:hover {
  color: black;
  background: none;
}

.repository .pagination li.dots {
  border: none;
  background: none;
}

.repository .pagination li.dots:hover {
  border: none;
  background: none;
}

.repository .pagination .current {
  background-color: #bdf;
}

.repository .pagination a {
  text-decoration: none;
  color: #444;
  padding: 0.3em;
}

.repository .pagination ul li:hover {
  background-color: #afa;
}

/* niceties for tags */
.repository td.tags .tag {
  background-color: green;
  border-color: green;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  -moz-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  border-radius: 0.3em;
  border-style: groove;
  border-width: 2px;
}

/* niceties for heads */
.repository .heads ul {
  text-indent: -1em;
}

.repository .heads ul li {
  display: inline;
  list-style: none;
  background-color: #66f;
  border-color: #66f;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  -moz-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  border-radius: 0.3em;
  border-style: groove;
  border-width: 2px;
}

.repository .heads a {
  text-decoration: none;
  color: #fff;
  padding: 0.3em;
}

