/* Things that are generic to all bubbles in the layout */

.bubble * table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid #eee;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}

.bubble * table * table {
  border-spacing: 1px;
  border: none;
  border-radius: 0em;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
}

.bubble * table td {
}

.bubble table tr.bubble_title td {
  background-color: #77a;
  color: white;
  font-family: arial, helvetica, sans;
  font-size: 1.2em;
  font-weight: bold;
}

.bubble table tr.bubble_subtitle td {
  background-color: #eee;
  font-family: arial, helvetica, sans;
  font-size: 1em;
  font-weight: bold;
}

.bubble table tr th {
  background-color: gray;
  color: white;
  /* order is top right bottom left */
  padding: 0em 0.5em 0em 0.5em;
  text-align: left;
}

.bubble .navigation ul {
  text-align: right;
  margin: 0em 0.1em 0em 0em;
  height: 1.5em;
}

.bubble .navigation li {
  display: inline;
  list-style: none;
  background-color: #484;
  border-color: #484;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  border-style: outset;
  border-width: 2px;
}

.bubble .navigation li:hover {
  background-color: #262;
  border-color: #262;
  border-style: inset;
}

.bubble .navigation ul a {
  text-decoration: none;
  color: #fff;
  padding: 0.3em;
}

