/* Style for Git repositories and views */

.repository table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 1px;
}

.repository tr {
}

.repository th {
  background-color: gray;
  color: white;
  /* order is top right bottom left */
  padding: 0em 0.5em 0em 0.5em;
  text-align: left;
}

.repository tr.even {
  background-color: #cef;
}

.repository tr td {
  padding: 0.3em;
}

.repository tr.odd {
  background-color: #eee;
}

.repository .lines-added {
  color: green;
}

.repository .lines-removed {
  color: red;
}

.repository .number-of-files {
  color: #bb0;
}

.repository td.summary, .repository p.summary {
  font-style: italic;
}

.repository .project-name {
  color: green;
  font-weight: bold;
}

/* browser entries that are unix path-like */
.repository .bubble td.path {
  font-size: 0.8em;
  font-weight: bold;
  font-family: arial, helvetica, sans;
}

/* highlighted code */
.repository .linenos { /* line numbers */
  color: #aaa;
  width: 2em;
}

.repository table.highlighttable {
  border: none;
  width: 100%;
}

.repository tr.command {
  font-family: monospace;
  color: white;
  background-color: black;
  padding: 0.7em;
}

.repository tr.path {
  font-family: monospace;
  background-color: #ccc;
}

/* paginator style */
.repository .pagination ul {
  text-indent: -1em;
}

.repository .pagination ul li {
  display: inline;
  list-style: none;
  font-family: arial, helvetica, sans;
  font-weight: bold; 
  font-size: 0.9em;
  background-color: #ccc;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #444;
  padding: 0.3em;
}

.repository .pagination li.header {
  border: none;
  background: none;
}

.repository .pagination li.header:hover {
  color: black;
  background: none;
}

.repository .pagination li.dots {
  border: none;
  background: none;
}

.repository .pagination li.dots:hover {
  border: none;
  background: none;
}

.repository .pagination .current {
  background-color: #bdf;
}

.repository .pagination a {
  text-decoration: none;
  color: #444;
  padding: 0.3em;
}

.repository .pagination ul li:hover {
  background-color: #f88;
}

/* niceties for tags */
.repository td.tags .tag {
  background-color: green;
  border-color: green;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  border-style: outset;
  border-width: 1px;
}

.repository td.tags .tag:hover {
  border-style: inset;
}

/* niceties for heads */
.repository td.heads .head {
  background-color: #66f;
  border-color: #669;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  border-style: outset;
  border-width: 1px;
}

.repository td.heads .head:hover {
  border-style: inset;
}

/* mode lines */
.repository .mode {
  width: 8em;
  font-family: courier, monospace;
}

/* actions should be small */
.repository .action {
  width: 2em;
}

/* for files that are created, deleted and moved */
.repository tr.new td {
  background-color: rgba(0,255,0,0.2);
}

.repository tr.deleted td {
  background-color: rgba(255,0,0,0.2);
}

.repository tr.renamed td {
  background-color: rgba(255,255,0,0.2);
}

.repository p.navigation {
  text-align: right;
  margin: 0em 0.1em 0em 0em;
  height: 1.5em;
}

.repository p.navigation .navigation {
  display: inline;
  list-style: none;
  background-color: #844;
  border-color: #844;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.2em;
  border-style: outset;
  border-width: 1px;
}

.repository p.navigation .navigation:hover  {
  border-style: inset;
}

/* This file defines the main style of the page layout for repositories views */

.repository table.layout {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0.5em;
}

.repository table.layout tr td.layout
{
  /* border: 1px solid red; */
  padding: 0px;
  vertical-align: top;
}

