/* These are for Simple/MacOSX downloads */
.project .downloads {
  float: right;
}

.project span.download_decoration {
  background-image: url(../img/download.png);
  float: left;
  border-width: 0px;
  height: 40px;
  width: 40px;
  padding: 2px;
  background-repeat: no-repeat; 
}

.project p.downloads_header {
}

.project a.download_link {
  text-decoration: none;
  border-width: 0px;
  color: #333;
}

.project p.download_entry {
  padding: 0.7em;
  background-color: #8f8;
  -moz-border-radius: 0.5em; 
  -khtml-border-radius: 0.5em; 
  -webkit-border-radius: 0.5em; 
  border-radius: 0.5em;
}

.project font.download_detail {
  font-size: 0.6em;
  font-style: italic;
}

.project a.screenshot_link {
  text-decoration: none;
  border-width: 0px;
  color: #fff;
}

.project p.screenshot_caption {
  font-style: italic;
  font-size: 0.6em;
}

.project p.intro {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.project pre.code {
  padding-top: 0.5em;
  text-indent: 1em;
  background-color: black;
  width: 100%;
  color: #eee;
  margin-bottom: 0.5em;
}

.project p.brief {
  background-color: #eee;
  padding: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
}

.project p.download {
  background-color: #9f9;
  width: 30%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.project .description {
  border: 1px solid #eee;
  padding: 0.5em;
  margin-bottom: 1em;
}

.project table.previous_downloads, .project table.project_list {
  border: 1px solid #eee;
}

.project table.previous_downloads th, .project table.project_list th {
  text-align: left;
  background-color: gray;
  color: white;
  padding: 0.1em;
}

.project td.detail > p.title {
  text-align: center;
}
