.project p.title {
  margin-top: 1em;
  font-size: 2.0em;
  font-weight: bold;
}

.project p.details {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.project table {
  width: 100%;
  padding: 5px;
}

.project table tr.even {
  background-color: #ddd;
}

.project table.project_list {
  font-size: 14px;
}

.project table.project_list tr {
  height: 50px;
}

.project table.project_list td {
  padding: 3px;
}

.project table.project_list tr.even {
  background-color: #cef;
}

.project table.project_list tr.odd {
  background-color: #eee;
}

.project .downloads {
  float: right;
}

.project span.download_decoration {
  background-image: url(../img/download.png);
  float: left;
  border-width: 0px;
  height: 40px;
  width: 40px;
  padding: 2px;
  background-repeat: no-repeat; 
}

.project p.downloads_header {
}

.project a.download_link {
  text-decoration: none;
  border-width: 0px;
  color: #333;
}

.project p.download_entry {
  padding: 0.7em;
  background-color: #8f8;
  -moz-border-radius: 0.5em; 
  -khtml-border-radius: 0.5em; 
  -webkit-border-radius: 0.5em; 
  border-radius: 0.5em;
}

.project font.download_detail {
  font-size: 0.6em;
  font-style: italic;
}

.project a.screenshot_link {
  text-decoration: none;
  border-width: 0px;
  color: #fff;
}

.project p.screenshot_caption {
  font-style: italic;
  font-size: 0.6em;
}

/* navigation links for each project, on the top of the detail page */
.project ul.quicklinks {
  text-align: right;
  margin: 0em 0.1em 0em 0em;
  height: 1.5em;
}

.project ul.quicklinks li {
  display: inline;
  list-style: none;
  background-color: #484;
  border-color: #484;
  color: white;
  font-family: arial, helvetica, sans;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.1em;
  border-style: outset;
  border-width: 2px;
}

.project ul.quicklinks li:hover {
  background-color: #262;
  border-color: #262;
  border-style: inset;
}

.project ul.quicklinks a {
  text-decoration: none;
  color: #fff;
  padding: 0.3em;
}

